body{
    background-color:#4b7aed;
}

section{
    background-color: white;
    width:40vw;
    height: 30vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

form{
    display: flex;
    gap:30px;
    width:80%;
    margin: auto;
    justify-content: start;
}

form input{
    border-color:#4b7aed;
    border-style: none;
    border-bottom-style: solid ;
}

form button{
    background-color: #4b7aed;
    color:white;
    font-weight: 800;
    border:none;
    border-radius: 10px;
    height: 50px;
}

div.conteneurTimer{
    min-height:100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    gap:20px;
    width:80%
}

div.timer{
    border-radius: 50%;
    background-color: orange;
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    font-weight: 800;
}

.hidden{
    display:none;
}